.section_container {
    position: relative;
    height: auto; 
    min-height: 40vh;
    background-color: rgb(252, 245, 237);
    color: #282c34;
    padding: 20px;
  }
  
  .section_title {
    text-align: center;
    font-size: 2rem;
    color: #282c34;
  }
  
  ul {
    list-style-type: none;
  }
  
  .profile {
    text-align: center;
  }
  
  .li_profile {
    margin: 2em 0; /* Réduisez la marge pour une meilleure mise en page sur les petits écrans */
  }
  
  .profile_container {
    text-align: center;
  }
  
  @media only screen and (max-width: 767px) {
    .li_profile {
      font-size: 1rem; /* Rétablissez la taille de la police par défaut pour les petits écrans */
    }
  }
  