.section_subtitle {
  font-size: 1.5rem;
  color: #282c34;
}

.tab {
  display: flex;
  justify-content: center;
  /* background-color: rgba(78, 117, 155, 0.507); */
  border-radius: 10px;
  width: 50em;
  /* height: auto; */
  margin: 0 1vh;
}

.exp_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 1vh;
}

/* td {
  text-align: "center";
  padding: "10px";
} */
.img {
  /* margin-top: -10px ; */
  height: 3em;
  transition: height 0.5s ease; 
}

td {
  position: relative; 

}

.tech_img {
  height: 5rem;
  width: 5rem;
}
.tech_text {
  font-weight: 800;
  margin-bottom: -2px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s ease-in-out; 
}

.tech_img:hover .img{
  height: 5em;
  width: auto;
  overflow: auto;
  z-index: 2;
}
.tech_img:hover .tech_text{
  opacity: 1;
  visibility: visible;
}
