.navContainer {
  position: fixed;
  top: 0;
  z-index: 1020;
  display: flex;
  justify-content: space-between;
  background-color: 0 0 ;
  height: 9vh;
  width: 100%;
  transition: background 0.5s ease-in-out, height 0.5s ease-in-out;
  color: aliceblue;
  padding-right: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Ajoutez une classe pour le fond de la barre de navigation */
.navContainer.scrolled {
  color: aliceblue;
  background: rgb(20, 20, 20);
  height: 5vh;
  transition: background 0.5s ease-out-in, height 0.5s ease-out-in;
}
.navMenu {
  display: flex;
  flex-direction: row;
}
.navItems {
  margin-right: 5px;
  align-self: center;
  font-size: 20px;
  margin: 5px 10px;
  text-decoration: none;
  color: aliceblue;
}
.navItems:hover {
  color: rgb(165, 160, 160);
}
.navLinkContainer {
  display: flex;
}
.navLink {
  margin-left: 10px;
  margin-right: 20px;
  align-self: center;
  text-align: end;
  text-decoration: none;
  color: aliceblue;
}
.navLink:hover {
  color: rgb(165, 160, 160);
}

.logo{
  animation: rotateHeart 10s linear infinite;
}

@keyframes rotateHeart {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}